<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="localCacheScope" value="STATEMENT"/>
        <setting name="logImpl" value="NO_LOGGING"/>
    </settings>

    <typeAliases>
        <package name="com.pipecrafts.securitygroundup"/>
    </typeAliases>

    <typeHandlers>
        <package name="com.pipecrafts.securitygroundup.tools.mybatis"/>
    </typeHandlers>
</configuration>
